# Anonymous Function
snippet f
	function() {
		${1}
	}
# Anonymous Function with comma
snippet f,
	function() {
		${1}
	},
# Anonymous Function with semicolon
snippet f;
	function() {
		${1}
	};
# Anonymous Function
snippet ff
	function(${1}) {
		${2}
	}
# Anonymous Function with comma
snippet ff,
	function(${1}) {
		${2}
	},
# Anonymous Function with semicolon
snippet ff;
	function(${1}) {
		${2}
	};
# Log to console
snippet log
	console.log("${1}");
