# Anonymous Function
snippet f
	function(${1}) {
		${2}
	}
# Anonymous Function with comma
snippet f,
	function(${1}) {
		${2}
	},
# Anonymous Function with semicolon
snippet f;
	function(${1}) {
		${2}
	};
